<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eoenesapps.myapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_surround_sound_light_blue_600_36dp"
        android:label="Foundboard"
        android:roundIcon="@drawable/ic_surround_sound_light_blue_600_36dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".highscore"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".takeTheLuke"
            android:screenOrientation="sensor"
            />
        <activity android:name=".info"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="sensor"
            />
        <activity android:name=".StartScreen"
            android:screenOrientation="sensorPortrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>